</div>




  <br><br>
   <footer>
      <p style="margin-left: 50px">&copy;  Maksim Novikov, 2016</p>
    </footer>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="/static/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/static/js/main.js"></script>



<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>